<h1>Editing User</h1>

<%= render 'form', user: @user %>

<%= link_to 'Show', @user, id: 'show-user' %> |
<<<<<<< HEAD
<%= link_to 'Back', users_path, id: 'home' %>
=======
<%= link_to 'Back', users_path %>
>>>>>>> e705cb8bd9ea7176e0f5c19d9b647d4e9aebd5f0
