<!DOCTYPE html>
<html>
  <head>
    <title>Users</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="content">
      <%= yield %>
    </div>

    <script>

      function newUserClick(event){
        event.preventDefault();
        // Send an http request to 'users/new'
        $.ajax({
          method: 'get',
          url: $(this).attr('href'),
          // Hook up code to execute when the server responds
          success: function(serverResponse){
            // Replace the content ID with whatever the server gives us
            $('#content').html(serverResponse);
          }
        });
      }
      // Hook up code to execute when New User link is clicked
      $('#new-user').click(newUserClick);
      $('#show-user').click(newUserClick);
      $('#edit-user').click(newUserClick);
      $('#home').click(newUserClick);

    </script>
  </body>
</html>
